{% extends "base.html" %}
{% load bootstrap4 static %}

{% block title %} Home Page {% endblock %}

{% block content %}
<style>
    body {
        background-color: #ad4816; /* Set your desired background color */
        font-family: 'Comic Sans MS', sans-serif;
    }

h1, p {
    font-family: 'Comic Sans MS', sans-serif;
}
</style>
<div class="container text-center">
    <h1 class="mt-5" style="color:blue; font-size: 24px; font-weight: bold; text-transform: uppercase">Welcome To Mike's Mini-Paldex</h1>
    <img src="{% static 'Legendary_Sphere_icon.webp' %}" alt="" class="card-img-top" style="max-height: 80px; max-width: 80px;">
    <div class="card bg-light mx-auto mt-2" style="max-width: 1000px; max-height: 1000px; overflow: hidden;">
        <img src="{% static 'palworldHomePage.jpg' %}" alt="" class="card-img-top" style="max-height: 100%;">
    </div>
    <br>
    <div class="card bg-light mx-auto mt-3" style="max-width: 900px; max-height: 900px;">
        <P><strong> Mike's Mini-Paldex consists of basic Palworld Pal data like type, skills, work, drops and price for easy access. This website allows you sign up and log in into your own Mini-Paldex so you can create as many combonations of Fire Teams of 5. </strong></P>
    </div>
</div>

<script>
    window.onload = function() {
        alert("The database is currently undergoing maintenance. Some features may be temporarily unavailable. We apologize for any inconvenience.");
    };
</script>
{% endblock %}