{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %} Fire Teams {% endblock %}

{% block content %}
<style>
    body {
        font-family: 'Comic Sans MS', sans-serif;
        background-color: #ad4816;
    }

    h1,
    p {
        font-family: 'Comic Sans MS', sans-serif;
    }
</style>
<div class="container my-5">
    <h1 class="display-4 text-center mb-4" style="color:blue; font-weight: bold; text-transform: uppercase">Your Fire Teams</h1>

    <div class="row">
        {% for fire_team in fire_teams %}
        <div class="col-md-4 mb-4;">
            <div class="card h-100 bg-light">
                {% if fire_team.image %}
                    <img src="{{ fire_team.image.url }}" alt="{{ fire_team.name }}" class="card-img-top">
                {% else %}
                    <!-- Placeholder image or message when no image is available -->
                    <div class="no-image-placeholder">
                        No Image Available
                    </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ fire_team.name }}</h5>
                    <!-- You can display additional details about the Fire Team here -->
                    <p class="card-text">Leader: {{ fire_team.leader }}</p>
                    <p class="card-text">Members: {{ fire_team.members.count }}</p>
                    <a href="{% url 'fire_team_detail' fire_team.id %}" class="btn btn-primary">View Fire Team</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
